extends ../layouts/default

block mainContent
  -var content = productDetails.content
  p!= content

  script.
    $(function(){
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        // Get the name of active tab
        var activeTab = $(e.target).text();
        // Get the name of previous tab
        var previousTab = $(e.relatedTarget).text();
        $(".active-tab span").html(activeTab);
        $(".previous-tab span").html(previousTab);
      });
    });


link(rel="stylesheet",href="/resources/css/renew.css")
link(rel="stylesheet",href="/resources/css/renew1.css")
link(rel="stylesheet",href="/resources/css/style.css")

block js
  script(type="text/javascript", src='/resources/js/jquery.js')
  script(type="text/javascript", src='/resources/js/bootstrap.min.js')

