extends layouts/default

append vars
  - dtLyr.pageType = req.app.get('pageConstants').HOME.identifier
block mainContent
  #sliderFrame
    #slider
      -var pgBanners = bannerDetails.results.page.pgBanners
      each pgBanner in pgBanners
        -var type = pgBanner.type
        if(type = 'HomeBanner')
          -var banners = pgBanner.pgBnrSlots.one.images
          each banner in banners
            -console.log("Banner Link : " + banner.l_link)
            img(src='http://i1.wp.com/www.muscleblaze.com/wp-content/uploads/2015/02/Banner.png?resize=1349%2C421', alt=banner.alt, data-bgfit='cover', data-bgposition='center top', data-bgrepeat='no-repeat',data-slotamount='7', data-masterspeed='300', data-link='http://www.healthkart.com/store/muscleblaze/chocolateCampaign.jsp', data-target='_blank' )

link(rel="stylesheet",href="/resources/css/js-image-slider.css")

#block js
 #script(type="text/javascript", src='/resources/js/js-image-slider.js')
